<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YelpCamp</title>
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!--custom css-->
        <link rel = 'stylesheet' href = '/stylesheets/main.css'>
    </head>
    <body>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e521f1ad359392508e578117b584f891&auto=format&fit=crop&w=750&q=80" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd27e6afea10629578acb8ca65e51d40&auto=format&fit=crop&w=750&q=80" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://images.unsplash.com/photo-1509821451539-1666e7790151?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3751e94abb51d591c028130f05817700&auto=format&fit=crop&w=750&q=80" alt="Third slide">
                </div>
            </div>
        </div>

<p>Welcome to YelpCamp</p>

<a href = '/campgrounds'>View all campgrounds</a>

<% include partials/footer %>