<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YelpCamp</title>
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!--custom css-->
        <link rel = 'stylesheet' href = '/stylesheets/landing.css'>
    </head>
    <body>
        <!--landing header-->
        <div class = 'main-text'>
                <h1>Welcome to YelpCamp</h1>
                <a href = '/campgrounds' class = 'btn btn-lg btn-success'>View all campgrounds</a>
        </div>

        <!--slideshow-->
        <ul class = 'slideshow'>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        
            
            
<% include partials/footer %>
            