/*for landing page*/
#carouselExampleSlidesOnly{
    padding: 0px;
}

.corousel,
.item,
.active{
    height: auto;
}

.carousel-inner {
    height: auto;
}

.main-text{
    position: absolute;
    text-align: center;
    top: 40vh;
    width: 96.66666666666666%;
    color: #FFF;
}