body{
    padding-top: 70px; 
}
h1{
    text-align: center;
}

/*for card on index page*/
#campcard{
    margin: 3%;
}
/*for imges on index page*/
.card-img-top{
    height: 200px;
}

/*for images on show page*/
.img-fluid{
    max-width: 100%;
    height: 500px;
}

.dbutton{
    display: inline;
}

/*======================================*/
.form-group{
    width: 50%;
    margin: 1% auto;
    text-align: center;
}

.btn{
    display: inline;
}