body{
    padding-top: 70px; 
}

h1{
    text-align: center;
}

.container{
    width: 100%;
    border: solid 1px black;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.btn{
    display: inline;
}